.estoque table {
  width: 100%;
  border-collapse: collapse;
}

.estoque th {
  background: #ff4da6;
  color: white;
  padding: 10px;
}

.estoque td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
